#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-boot
    # Fingerprint
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

on boot
    # fingerprint
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/fingerdown_wait
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/request_vreg
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/simulate_irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/finger_irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/power_cfg
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/request_vreg
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/simulate_irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/finger_irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/power_cfg
    chmod 0666 /dev/input/event2

    # Xiaomi touch
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

on post-fs
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    # Bind mount brightness node
    mount none /sys/class/backlight/panel0-backlight/brightness /sys/class/mi_display/disp-DSI-0/brightness_clone bind

on post-fs-data
    # Create folder of camera
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver
    mkdir /data/vendor/camera 0777 camera camera
    mkdir /data/vendor/camera/offlinelog 0777 cameraserver audio
    chmod 0666 /dev/camlog

    # Fingerprint
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    # FP
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/misc/mi_fp 0770 system system
    mkdir /persist/mi_fp 0770 system system
    mkdir /mnt/vendor/persist/mi_fp 0770 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system

    # nv_mac
    mkdir /data/vendor/mac_addr 0770 system wifi

    # Create fingerprint related directories
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

on property:sys.boot_completed=1
    # Set thermal mode to mgame
    write /sys/devices/virtual/thermal/thermal_message/sconfig 20

    # Dynamically set IRQ affinity for KGSL and DRM
    exec u:r:vendor_qti_init_shell:s0 -- /vendor/bin/init.xiaomi_sm8475.sh

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock context_hub system
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver
    socket audio_us_socket_0 seqpacket 0666 system system

service vendor.sensors-hal-2-1-multihal /vendor/bin/hw/android.hardware.sensors@2.1-service.xiaomi-multihal
    override
    class hal
    user system
    group system wakelock context_hub
    task_profiles ServiceCapacityLow
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
    socket audio_us_socket_1 seqpacket 0666 system system

on property:persist.sys.xtra-daemon.enabled=*
    restart loc_launcher
