on early-boot
    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on boot
    # citsensorservice
    start citsensor-hal-2-0

    # Disable doze brightness handling
    write /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/doze_brightness -1

    # fingerprint
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

on post-fs-data

service citsensor-hal-2-0 /vendor/bin/hw/vendor.xiaomi.sensor.citsensorservice@2.0-service
    class late_start
    user system
    group system input wakelock
    override
    task_profiles ServiceCapacityLow

on post-fs && property:ro.boot.hwc=CN
    # Remove euicc on CN Variant
    mount none /dev/null /product/etc/permissions/privapp-permissions-euiccgoogle.xml bind
    mount none /dev/null /product/etc/permissions/android.hardware.telephony.euicc.xml bind
    mount none /dev/null /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind
    mount none /dev/null /product/app/XiaomiEuicc/XiaomiEuicc.apk bind
