#
# Copyright (C) 2011-2024 The XPerience Project
# Copyright (C) 2024 Carlos 'klozz' jesus
# SPDX-License-Identifier: Apache-2.0
#

# on boot parsed
# Enable adaptive freqs for CPU 
# Enable adaptive freq for dcvs DDR
# To help to reduce jittering
on property:vendor.post_boot.parsed=1
    write /sys/devices/system/cpu/bus_dcvs/DDR/memlat/adaptive_high_freq 1
    write /sys/devices/system/cpu/bus_dcvs/L3/memlat/adaptive_high_freq 1
    #write /sys/devices/system/cpu/bus_dcvs/DDRQOS/memlat/adaptive_high_freq 1
    #write /sys/devices/system/cpu/bus_dcvs/LLCC/memlat/adaptive_high_freq 1
    write /sys/devices/system/cpu/cpufreq/policy4/walt/adaptive_high_freq 1
    write /sys/devices/system/cpu/cpufreq/policy0/walt/adaptive_high_freq 1
    write /sys/devices/system/cpu/cpufreq/policy7/walt/adaptive_high_freq 1
    write /sys/devices/system/cpu/cpufreq/policy4/walt/adaptive_low_freq 1
    write /sys/devices/system/cpu/cpufreq/policy0/walt/adaptive_low_freq 1
    write /sys/devices/system/cpu/cpufreq/policy7/walt/adaptive_low_freq 1

    # Configure uclamp
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1